// Colores ------------------------------>


$color-black: rgba(0, 0, 0, 1); // Negro
$color-dark-grey: rgba(23, 23, 23, 1); // Gris oscuro
$color-light-grey: rgba(76, 76, 76, 1); //  Gris claro

$color-white: rgba(255, 255, 255, 1); // Blanco

$color-light-purple: rgba(233, 221, 238, 1); // Violeta claro
$color-dark-purple: rgba(128, 0, 92, 1); // Violeta oscuro
$color-transparent-purple: rgba(153, 64, 129, 0.6); // Violeta 60% opacidad

$color-watergreen: rgba(7, 144, 145, 1); // Verde agua
$color-light-watergreen: rgba(2, 161, 161, 1); // Verde agua
