// Colores ------------------------------>

// Font colors -------------------------->

// Violeta

$color-black: #000000; // Negro
$color-dark-grey: #171717; // Gris oscuro
$color-light-grey: #4c4c4c; //  Gris claro
$color-extra-light-grey: #dbdbdb;

$color-light-purple: #e9ddee; // Violeta claro

$color-five: #605bff;
$color-six: #605bff;
$color-seven: #605bff;
