

@media screen and (max-width: 920px) {
   
  footer {
    .content {
      .link-boxes {
        flex-wrap: wrap;

        .input-box {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  html {
    overflow-x: hidden;
    body {
      overflow-x: hidden;

      #home-header {
        nav {
          padding: 4% 6%;
          .nav-links {
            position: absolute;
            background: #343a40;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 0.5s;

            .fas {
              display: block;
              color: white;
              padding: 15px;
              font-size: 24px;
              cursor: pointer;
              text-align: right;
            }

            ul {
              padding: 30px;

              li {
                display: block;
              }

              .dropdown-buttons {
                .dropdown-content {
                  list-style: none;
                  display: inline-block;
                  margin-left: 5px;
                  position: relative;
                  background-color: transparent;
                  box-shadow: none;
                  text-align: start;
                  margin-top: 0px;

                  a {
                    color: white;
                    font-size: 12px;
                    padding: 12px 0px;

                    &:before {
                      content: "• ";
                    }

                    &:hover {
                      background-color: transparent;
                    }
                  }
                }
              }
            }
          }

          .fas {
            display: block;
            color: white;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
          }
        }

        .text-box {
          left: 10%;
          right: auto;
          width: 80%;
          top: 25%;
        }
      }

      .services {
        .row {
          flex-direction: column;
        }
      }
      .countries {
        .row {
          flex-direction: column;
        }
      }

      .testimonials {
        .row {
          flex-direction: column;
        }
      }

      .testimonials {
        .row {
          .testimonial-col {
            img {
              margin-left: 0px;
              margin-right: 15px;
            }
          }
        }
      }

      footer {
        position: relative;

        .content {
          .top {
            .media-icons {
              a {
                height: 35px;
                width: 35px;
                font-size: 14px;
                line-height: 35px;
              }
            }
          }

          .link-boxes {
            .box {
              width: calc(100% / 3 - 10px);
            }

            .input-box {
              width: 100%;
            }
          }
        }
      }

      .bottom-details {
        .bottom_text {
          span {
            font-size: 12px;
          }

          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  
      #home-header {
        background-image: url(../src/multimedia/images/office_background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;

        #adhoc-video {
          display: none;
        }

        nav {
          padding: 4% 6%;
        }
      }

      footer {
        .content {
          .top {
            flex-direction: column;

            .media-icons {
              margin-top: 16px;
            }
          }

          .link-boxes {
            .box {
              width: calc(100% / 2 - 10px);
            }

            .input-box {
              width: 100%;
            }
          }
        }

        .bottom-details {
          .bottom_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

}

// CONTAC US
